<mtapp:setting
    id="mt_version"
    label="<__trans phrase="VERSION">"
    hint="<__trans phrase="">"
    show_hint="1">
<input type="text" name="mt_version" value="<mt:var name="mt_version" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="mt_schema_version"
    label="<__trans phrase="SCHEMA_VERSION">"
    hint="<__trans phrase="">"
    show_hint="1">
<input type="text" name="mt_schema_version" value="<mt:var name="mt_schema_version" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="mt_product_name"
    label="<__trans phrase="PRODUCT_NAME">"
    hint="<__trans phrase="">"
    show_hint="1">
<input type="text" name="mt_product_name" value="<mt:var name="mt_product_name" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="mt_product_code"
    label="<__trans phrase="PRODUCT_CODE">"
    hint="<__trans phrase="">"
    show_hint="1">
<input type="text" name="mt_product_code" value="<mt:var name="mt_product_code" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="mt_product_version"
    label="<__trans phrase="PRODUCT_VERSION">"
    hint="<__trans phrase="">"
    show_hint="1">
<input type="text" name="mt_product_version" value="<mt:var name="mt_product_version" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="mt_version_id"
    label="<__trans phrase="VERSION_ID">"
    hint="<__trans phrase="">"
    show_hint="1">
<input type="text" name="mt_version_id" value="<mt:var name="mt_version_id" escape="html">" />
</mtapp:setting>
